
/**
 * Container styles
 */
.main-buttons {
    position: relative;
    overflow: hidden;
    height: 68px;
    box-sizing: border-box;
}

.main-buttons {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.main-buttons-inner-container {
    padding: 0 25px;
    height: 60px;
}

.main-buttons-inner-container {
    background: rgba(240, 240, 240, 0.44);
}

.template-bitrix24 .main-buttons-inner-container {
    background: #fff;
}

/**
 * List item styles
 */
.main-buttons-item {
    position: relative;
    display: inline-block;
    margin: 0 50px 8px 0;
    height: 60px;
    line-height: 30px;
    text-decoration: none;
}

.main-buttons-item:last-child {
    margin: 0;
}

.main-buttons-item:after {
    content: '';
    display: block;
    margin: -5px auto 0;
    width: 0;
    height: 2px;
    background: 0 0;
    transition: width .5s ease, background .5s ease;
}

.main-buttons-item.over {}

.main-buttons-item[data-disabled="true"] {
    display: none;
}

.main-buttons-item[data-locked="true"] {}

.main-buttons-item-link {
    position: relative;
    display: inline-block;
    height: 65px;
    font: 15px/65px "OpenSans-Semibold", "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #545c6a;
    outline: none;
    text-decoration: none;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    vertical-align: middle;
    box-sizing: border-box;
    cursor: pointer;
    -khtml-user-drag: none;
    -webkit-user-drag: none;
    text-transform: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.main-buttons-item:focus,
.main-buttons-item:focus .main-buttons-item-link,
.main-buttons-item-link:focus {
    outline: none;
}

.main-buttons-item-link:hover {
    color: #1058d0;
}

.main-buttons-item.over .main-buttons-item-link {
    color: #1058d0;
}

.main-buttons-item-active {
    border-bottom: 2px solid #1058d0;
    height: 58px!important;
}

.main-buttons-item-active .main-buttons-item-link {
    color: #1058d0;
}

.main-buttons-item .main-buttons-item-icon {
    display: none;
}

.main-buttons-item .main-buttons-item-text {
    position: relative;
}

.main-buttons-item .main-buttons-item-text .main-buttons-item-text-marker {}
.main-buttons-item .main-buttons-item-counter {
    position: absolute;
    top: 8px;
    right: -20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 7px;
    min-width: 12px;
    border-radius: 30px;
    background: #f54819;
    font: bold 11px/16px "OpenSans-Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #fff;
}

.menu-popup-item-text .main-buttons-item-text {
    margin: 0 2px 0 0;
}

.menu-popup-item-text .main-buttons-item-counter {
    padding: 0 7px;
    min-width: 12px;
    border-radius: 30px;
    background: #f54819;
    font: bold 11px/15px "OpenSans-Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #fff;
}

.main-buttons-item-sublink {
    position: absolute;
    left: 50%;
    bottom: -8px;
    display: none;
    height: 15px;
    width: 40px;
    margin-left: -20px;
    cursor: pointer;
    z-index: 2;
}

.main-buttons-item-sublink:before {
    content: '';
    position: absolute;
    top: 1px;
    left: 50%;
    height: 14px;
    width: 14px;
    margin-left: -8px;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20cx%3D%227%22%20cy%3D%227%22%20r%3D%227%22%20fill%3D%22%231058D0%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M8%206V3H6v3H3v2h3v3h2V8h3V6H8z%22/%3E%3C/g%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: background-image .3s;
    transition: background-image .3s;
}

.main-buttons-item-sublink:hover:before {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20cx%3D%227%22%20cy%3D%227%22%20r%3D%227%22%20fill%3D%22%232FC7F7%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M8%206V3H6v3H3v2h3v3h2V8h3V6H8z%22/%3E%3C/g%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: center;
}

.main-buttons-item:hover .main-buttons-item-sublink {display:block;}